
.theme-switch {
    position: fixed;
    top: 30px;
    right: 10px;
    padding: 10px;
    z-index: 10;
  
    .theme-switch-options {
      list-style: none;
      margin: 0;
      padding: 0;
      max-height: 0;
      overflow: hidden;
      opacity: 0;
      transition: 1s ease all;
    }
  
    &.active .theme-switch-options {
      max-height: 1000px;
      opacity: 1;
    }
  
    .theme-switch-option {
      cursor: pointer;
      font-size: 0;
      margin-bottom: 15px;
    }
  
    .theme-switch-option::before {
      content: '';
      display: inline-block;
      width: 20px;
      height: 20px;
      background: var(--color-light);
      border: 2px solid var(--color-dark);
      border-radius: 20px;
      transition: .5s ease border-color;
    }

    .theme-switch-options .theme-switch-option:not(:hover)::before {
      border-color: transparent;
    }


    .theme-switch-option.theme-switch-option-light::before {background: var(--color-pale); }
    .theme-switch-option.theme-switch-option-dark::before { background: var(--color-black); }
    .theme-switch-option.theme-switch-option-pink::before { background: var(--color-pink); }
    .theme-switch-option.theme-switch-option-green::before { background: var(--color-green); }
    .theme-switch-option.theme-switch-option-yellow::before { background: var(--color-yellow); }
  }


  @media screen and (max-width: 992px){
    .theme-switch-options .theme-switch-option::before {
      border-color: transparent;
    }
  }