.mind {
    background-color: var(--color-light);
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;  
    color: var(--color-dark);

    .wrapper {
        max-width: 700px;
        width: 100%;       
    }

    

    /* Header */
    header {
        padding: 40px 40px 60px;

        h1 {
            font-weight: normal;
            font-size: 55px;
            line-height: .7;
            margin: 0;
            pointer-events: none;
            user-select: none;
        }

    }

    &.no-tasks header {
        padding: 40px 40px 0;
    }

    /* Main */
    main {
        padding: 0 40px;
        max-height: 40vh;
        overflow-y: auto;
        scrollbar-color: var(--color-dark) transparent;
        scrollbar-width: thin;

        .tasks {
            margin: 0;
            padding: 0;
            list-style-type: none;

            .task {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 5px 0;
                margin: 10px 0;
                font-size: 22px;
                cursor: pointer;
            }

            .task .task-description {
                flex: 1;
            }

            .task .task-description span {
                position: relative;
                background:
                    linear-gradient(var(--color-dark) 0 0) no-repeat 0 60% / var(--s, 0%) .1em,
                    currentcolor;
                background-clip: border-box, text;
                -webkit-text-fill-color: transparent;
                transition: background-size .4s ease;
            }

            .task .task-description:hover span,
            .task.completed .task-description span {
                --s: 100%;
            }

            .task .task-delete {
                background: none;
                color: var(--color-dark);
                font-size: 32px;
                font-weight: normal;
                transform: rotate(45deg);
                border: none;
                padding: 0;
                opacity: 0;
                overflow: hidden;
                transition: .5s ease-in-out opacity;
            }

            .task:hover .task-delete {
                opacity: 1;
            }
        }
    }

    /* Footer */
    footer {
        padding: 60px 0 40px;

        .tasks-form {
            border: 2px solid var(--color-dark);
            padding: 20px;
            border-radius: 50px;
            width: 100%;

            display: flex;
            justify-content: space-between;
            transition: .5s ease-in-out transform;

            input {
                width: calc(100% - 70px);
                padding: 0 20px;
                font-size: 20px;
                border: none;
                background: none;
                color: var(--color-dark);
                &::placeholder {
                    color: var(--color-dark);
                    opacity: 0.7;
                }
            }

            &:hover {
                transform: scale(1.02);
            }

            button {
                color: var(--color-light);
                &:hover {
                    color: var(--color-dark);
                }
            }

        }
    }
}

@media screen and (max-width: 992px) {
    .mind {
        .wrapper {
            padding: 120px 20px 100px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            height: 100%;
            max-width: 100%;
        }
        

        header {
            position: fixed;
            background:var(--color-light);
            width: 100%;
            padding: 40px 20px;
            top: 0;
            left: 0;
            z-index: 1;

            h1 {
                font-size: 34px;
            }
        }   

        &.no-tasks header {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            padding: 0;

            h1 {
                font-size: 55px;
            }
        }

        main {
            padding: 0 0px;
            max-height: 65vh;

            .tasks .task {
                max-width: 95%;
            }

            .tasks .task .task-description:hover span {
                --s: 0;
            }

            .tasks .task.task.completed .task-description:hover span {
                --s: 100%;
            }
        }

        footer {
            margin-top: auto;
            position: fixed;
            left: 0;
            right: 0;
            margin-left: auto;
            margin-right: auto;
            bottom: 0px;
            width: 100%;
            padding: 20px 20px 20px;
            background:var(--color-light);
            
            .tasks-form {
                padding: 10px;
            }
            
        }
    }
}