:root {
  font-family: 'Hanken Grotesk', system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --color-white: #fff;
  --color-black: #303442;
  --color-blue: #111f79;
  --color-pink: #e9c8ce;
  --color-bb-blue: #93A9D2;
  --color-pale: #f9f7ee;
  --color-yellow: rgb(236, 230, 131);

  --color-dark: var(--color-black);
  --color-light: var(--color-light);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[data-theme="light"]{
  --color-light: var(--color-pale);
  --color-dark: var(--color-black);
}

[data-theme="dark"]{
  --color-dark: var(--color-pale);
  --color-light: var(--color-black);
  
}

[data-theme="pink"]{
  --color-light: var(--color-pink);
  --color-dark: var(--color-blue);
}

[data-theme="bb-blue"]{
  --color-light: var(--color-bb-blue);
  --color-dark: #efecda;
}

[data-theme="yellow"]{
  --color-light: var(--color-yellow);
}

* {
  box-sizing: border-box;
  font-family: 'Hanken Grotesk', system-ui, Helvetica, Arial, sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  background: var(--color-light);
}

p {
  margin: 0;
}

button {
  font-size: 16px;
  font-weight: bold;
  background: var(--color-dark);
  color: var(--color-light);
  border: 1px solid var(--color-dark);
  padding: 10px 25px;
  border-radius: 50px;
  transition: .3s ease-in-out all;
  cursor: pointer;
}

button:hover {
  background: none;
  color: var(--color-dark);
}

input:focus {
  outline: none;
}
